* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__nav__list {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header--nav--list {
  display: block;
}

.header--nav--list--first {
  font-family: "Nunito", sans-serif;
  margin: 20px;
  font-size: 18px;
}

.main-section__first-title {
  font-size: 25px;
  color: rgb(255, 120, 9);
  margin-left: 100px;
}

.second-title {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-top: 10px;
}

.second-title__closer-look {
  font-size: 50px;
  margin-left: 80px;
}

.second-title__view-all {
  font-size: 25px;
  margin-right: 50px;
  color: rgb(236, 22, 22);
}

.images {
  display: flex;
  justify-content: space-evenly;
}

.images__image {
  width: 400px;
  height: 350px;
  border-radius: 20px;
  margin-top: 50px;
}
